*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    border: 2px solid green;
    width: 600px;
}
h1{
    text-align: center;
}
.centered {
    font-style: italic;
}
h4{ 
    text-decoration: underline;
    font-style: italic;
}
h3{
    text-align: center;
    font-size: 15px;
}
form{
    margin-left: 25px;
}
#top{
    width: 900px;
    margin: auto;
}
#about{
    width: 49%;
    height: 500px;
    float: left;
    min-width: 300px;
    border: 2px solid red;
    padding: 0 3px;
}
#contact{
    width: 49%;
    height: 500px;
    float: right;
    border: 2px solid red;
}
#image{
    margin: auto;
    width: fit-content;
}
label{
    display: block; 
    margin-left: 40px;
}
input, textarea{
    widows: 80%;
    margin-bottom: 20px;
}
textarea{
    height: 100px;
}
button{
    margin: auto;
    width: fit-content;
    display: block;
}
.centered{
    text-align: center;
}